body {
  font: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header  */
header {
  background-color: #35424a;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

header li {
  display: inline;
  padding: 0 10px;
  float: left;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #aaaaaa;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* event */

#event {
  background-color: #35424a;
  padding: 15px;
  color: white;
}

#event h1 {
  float: left;
}

#event form {
  float: right;
  margin-top: 15px;
}

#event input[type='email'] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

.button_1 {
  height: 38px;
  background-color: #e8491d;
  border: 0;
  padding: 0 20px;
  color: white;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 100px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#downbar {
  float: left;
  width: 100%;
  margin-top: 10px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 80%;
}

/*
article#main-col boxes {
  margin-top: 20px;
}
*/

article#main-col .box {
  float: left;
  width: 30%;
  height: 300px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

/* Service */
ul#service li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

/* Footer */
footer {
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}

/* Media Quaries  */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  #showcase h1 {
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 10px;
  }

  header {
    padding-bottom: 20px;
  }

  #event button,
  .quote button,
  header li {
    display: block;
    width: 100%;
  }

  #event form input[type='email'],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

#kCalendar {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#kCalendar #header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#kCalendar .button {
  color: #000;
  text-decoration: none;
}

#kCalendar table {
  width: 250px;
  height: 200px;
}
#kCalendar caption {
  display: none;
}

#kCalendar .sun {
  text-align: center;
  color: deeppink;
}
#kCalendar .mon {
  text-align: center;
}
#kCalendar .tue {
  text-align: center;
}
#kCalendar .wed {
  text-align: center;
}
#kCalendar .thu {
  text-align: center;
}
#kCalendar .fri {
  text-align: center;
}
#kCalendar .sat {
  text-align: center;
  color: deepskyblue;
}
